{% for table in tables %}
<div class="card tweet mb-3 w-100" style="width: 18rem;">

    <div class="card-header">
        <h5>{{ table.username }}</h5>
        <span class="text-muted tweetDate">{{ table.date | date('d/m/Y H:i:s') }}</span>
    </div>
    <div class="card-body">
        <p class="carcreate tabled-text">{{ table.name }}</p>
        <textarea rows="10" cols="60" id="content" name="content">{{ table.content }}</textarea>

        <form method="POST" action="/saves">
          <button type="submit" class="btn btn-primary btn-lg btn-block">sauvegarder</button>
        </form>
        <a href="/tables/{{table._id}}" class="btn btn-warning btn-lg btn-block" onclick="deleteTable()">Delete</a>
    </div>
</div>
{% endfor %}
